body {
  background-color: #181616;
  color: rgb(185, 107, 185);
  font-family: "Century Gothic", sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  color: #fff;
  border-bottom: 2px solid #ccc;
  display: inline-block;
  padding-bottom: 5px;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  color: rgb(109, 28, 156);
}

.elegant-box {
  display: inline-block;
  width: 50%;
  padding: 20px;
  margin: 20px auto;

  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
  padding-left: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 0;
  font-size: 1.1em;
}

img {
  width: 50%;
}
.project {
  border: #413f3f inset 1px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
}
article {
  margin: 20px;
}

a {
  border: 1px solid grey;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
}

a:hover {
  background-color: rgb(185, 107, 185);
}
